
/* App */

:root {
    --view-height: 100vh;

    --font-1: DMSans-Regular;
    --font-2: LibreBaskerville-Regular;

    --color-1: #050505;
    --color-2: #E3DAC9;
}

html, body, #root {
    display: block;
    height: var(--view-height);
    max-height: var(--view-height);
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: var(--view-height);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-1);
}


/* App */

.divisor {
    position: absolute;
    height: 200%;
    width: 75%;

    left: 50%;
    transform: rotate(330deg);
    transform-origin: center left;

    background-color: var(--color-2);
}

.home {
    height: 100%;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-direction: row;
    gap: 4rem;

    transform: rotate(-30deg);
    transform-origin: center center;
}

.profile, .content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

/* Profile */

.profile-information * {
    transform: rotate(30deg);
    transform-origin: top right;
}

.profile-information h1 {
    margin: 0;
    font-family: var(--font-2);
    color: var(--color-2);
    text-align: end;
}

.profile-information p {
    margin: .5rem 0 0 0;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;
}

.profile-links {
    display: flex;
    gap: 1.5rem;

    transform: rotate(30deg);
    transform-origin: top right;
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 2rem;

    transform: skew(1deg);
}

/* Media Link */

.medialink {
    width: 1.5rem;
    height: 1.5rem;
    
    cursor: pointer;
}

.medialink:hover {
    scale: 1.1;
}

.medialink svg {
    fill: var(--color-2);
}

/* Tab */

.tab {
    height: 2.5rem;

    transform: rotate(30deg);
    transform-origin: top right;

    cursor: pointer;
}

.tab h1 {
    margin: 0;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;
}