
/* App */
:root {
    --view-height: 100vh;

    --font-1: DMSans-Regular;
    --font-2: PlayfairDisplay-Regular;

    --color-1: #050505;
    --color-2: #E3DAC9;
    --color-3: #1F202C;
    --color-4: #FFFFFF;

    /* --color-company: #FFB71B;  */
    --color-company: #0078D3; 
}

html, body, #root {
    display: block;
    height: var(--view-height);
    max-height: var(--view-height);
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: var(--view-height);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-1);
}

.divisor {
    position: absolute;
    height: 200%;
    width: 75%;

    left: 50%;
    transform: rotate(330deg);
    transform-origin: center left;

    background-color: var(--color-2);
}

.home {
    height: 100%;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-direction: row;
    gap: 4rem;

    transform: rotate(-30deg);
    transform-origin: center center;
}


.footer {
    position: absolute;
    top: calc(var(--view-height) - 22px);
}

.footer p {
    margin: 0;
    font-family: var(--font-2);
    font-size: small;
    color: var(--color-2);
    text-align: center;
}

@media screen and (max-width: 1024px) {
    
    .divisor {
        display: none;
    }
    
    .home {
        height: 100%;
        width: 100%;
        z-index: 2;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    
        transform: rotate(0deg);
        transform-origin: center center;
    }
}

/* Profile */
.profile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

.profile-information h1 {
    margin: 0;
    font-weight: 500;
    font-family: var(--font-2);
    font-size: 2.5rem;
    color: var(--color-2);
    text-align: end;

    transform: rotate(30deg);
    transform-origin: top right;
}

.profile-information p {
    margin: .5rem 0 0 0;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;

    transform: rotate(30deg);
    transform-origin: top right;
}

#current-job {
    display: inline-block;
    position: relative;
    color: var(--color-company);

    font-weight: bolder;
    text-decoration: none;

    transform: rotate(0deg);
    transform-origin: top right;
    
    cursor: pointer;
}

#current-job::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-company);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
#current-job:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.profile-links {
    margin: .75rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    transform: rotate(30deg);
    transform-origin: top right;
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 2rem;
}

.profile-tabs:hover h1{
    color: var(--color-3);
}

@media screen and (max-width: 1024px) {
    .profile {
        margin: 1rem;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 0;
        width: calc(100% - 2rem);
        height: calc(30% - 2rem);
    }

    .profile-information {
        width: 100%;
    }
    
    .profile-information h1 {
        font-size: 1.9rem;
        margin-top: .5rem;
        transform: rotate(0deg);
    }
    
    .profile-information p {    
        transform: rotate(0deg);
    }
    
    .profile-links {    
        transform: rotate(0deg);
    }

    .profile-tabs {
        display: none;
    }
}

/* Content */
.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .content {
        display: none;
    }
}

/* Media Link */
.medialink {
    width: 1.5rem;
    height: 1.5rem;

    transition: transform ease-in-out .1s;
    
    cursor: pointer;
}

.medialink:hover {
    transform: scale(1.15);
}

.medialink svg {
    fill: var(--color-2);
}

/* Tab */
.tablink, .tablink-selected {
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;

    transform: rotate(30deg);
    transform-origin: top right;

    cursor: pointer;
}

.tablink h1 {
    margin: 0;
    font-family: var(--font-1);
    color: var(--color-3);
    text-align: end;
    transition: .3s;
}

.tablink-selected h1 {
    margin: 0;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;
    transition: .3s;
}

.tablink:hover h1, .tablink-selected:hover h1{
    color: var(--color-2);
}

.tab-selected {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    -webkit-transform: translateY(0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transform: translateY(0);
    -moz-transition: -moz-transform 500ms ease;
    transform: translateY(0);
    transition: transform 500ms ease;
    will-change: transform;
}

.tab-hidden {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    -webkit-transform: translateY(150%);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transform: translateY(150%);
    -moz-transition: -moz-transform 500ms ease;
    transform: translateY(150%);
    transition: transform 500ms ease;
    will-change: transform;
}

#link {
    display: inline-block;
    position: relative;
    color: var(--color-1);

    font-size: medium;
    font-family: var(--font-1);
    font-weight: bolder;
    text-decoration: none;

    transform: rotate(30deg);
    transform-origin: bottom left;
    
    cursor: pointer;
}

#link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
#link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#link p {
    font-family: var(--font-1);
    font-size: xx-small;
    margin: 0;
    display: inline;
}

#link svg {
    margin: 0 0 0 .3rem;
    width: .75rem;
    fill: var(--color-1);
}

/* About */
.about {
    margin-top: 10%;
    width: 310px;
    height: auto;

    display: flex;
    flex-direction: column;

    transform: skewY(30deg);
    transform-origin: top left;

    background-color: var(--color-1);
}

.about-header {
    width: 100%;
    height: auto;

    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.about-header h1 {
    margin: 0;
    font-family: var(--font-2);
    font-size: larger;
    font-weight: 500;
    color: var(--color-2);
    text-align: center;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center center;
}

.about-header p {
    margin: 0;
    font-family: var(--font-1);
    font-size: small;
    color: var(--color-2);
    text-align: center;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center center;
}

.about-content {
    width: calc(100% - 1.5rem);
    height: auto;

    padding: .75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 1rem;

    background-color: var(--color-3);
}

.about-content svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center left;
}

/* Work */
.work {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
}

#work-link {
    text-decoration: none;
}

.work-card {
    width: 310px;
    height: auto;

    display: flex;
    flex-direction: column;

    transform: skewY(30deg);
    transform-origin: top left;

    background-color: var(--color-1);

    transition: transform ease-in-out .1s;
}

.work-card:hover {
    transform-origin: top left;
    transform: scale(1.035) skewY(30deg);
    cursor: pointer;
}

.work-card-header {
    width: calc(100% - 1rem);
    height: auto;

    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-card-header img {
    height: 31.25px;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: bottom left;
}

.work-card-header-info svg {
    margin-left: .25rem;
    width: .6rem;
    fill: var(--color-2);
}

.work-card-header-info p {
    margin: 0;
    font-size: small;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;
    text-decoration: none;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: top right;
}

.work-card-content {
    width: calc(100% - 1.5rem);
    height: auto;

    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background-color: var(--color-3);
}

.work-card-content svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center left;
}

/* Projects */
.projects {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.project-card {
    width: 310px;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    transform: skewY(30deg);
    transform-origin: top left;

    background-color: var(--color-1);

    transition: transform ease-in-out .1s;
}

.project-card-header {
    width: calc(100% - 1.5rem);
    height: auto;
    margin: .75rem;

    display: flex;
    gap: .75rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.project-card-header img {
    width: 150%;
    height: auto;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: bottom left;
}

.project-card-header-info {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-card-header-info-title h1 {
    margin: 0;
    font-size: large;
    font-family: var(--font-1);
    color: var(--color-2);

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: bottom left;
}

.project-card-header-info-title p {
    margin: 0;
    font-size: x-small;
    font-family: var(--font-1);
    color: var(--color-2);

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: bottom left;
}

.project-card-header-info-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

#project-link {
    text-decoration: none;
    cursor: pointer;

    transition: transform ease-in-out .1s;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center center;
}

#project-link:hover {
    transform: scale(1.15) skewY(-30deg) rotate(30deg);   
}

#project-link svg {
    width: 1.4rem;
    fill: var(--color-2);
}

.project-card-content {
    width: calc(100% - 1.5rem);
    height: auto;

    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background-color: var(--color-3);
}

.project-card-content svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center left;
}
