
/* App */
:root {
    --view-height: 100vh;

    --font-1: DMSans-Regular;
    --font-2: LibreBaskerville-Regular;

    --color-1: #050505;
    --color-2: #E3DAC9;
    --color-3: #1F202C;
    --color-4: #FFFFFF;

    --color-company: #FFB71B; 
}

html, body, #root {
    display: block;
    height: var(--view-height);
    max-height: var(--view-height);
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: var(--view-height);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-1);
}

.divisor {
    position: absolute;
    height: 200%;
    width: 75%;

    left: 50%;
    transform: rotate(330deg);
    transform-origin: center left;

    background-color: var(--color-2);
}

.home {
    height: 100%;
    width: 100%;
    z-index: 2;

    display: flex;
    flex-direction: row;
    gap: 4rem;

    transform: rotate(-30deg);
    transform-origin: center center;
}

@media screen and (max-width: 1024px) {
    
    .divisor {
        position: absolute;
        height: 100%;
        width: 225%;
    
        left: -50%;
        top: 30%;
        transform: rotate(0deg);
    
        background-color: var(--color-2);
    }
    
    .home {
        height: 100%;
        width: 100%;
        z-index: 2;
    
        display: flex;
        flex-direction: column;
        gap: 0;
    
        transform: rotate(0deg);
        transform-origin: center center;
    }
}

/* Profile */
.profile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

.profile-information h1 {
    margin: 0;
    font-family: var(--font-2);
    color: var(--color-2);
    text-align: end;

    transform: rotate(30deg);
    transform-origin: top right;
}

.profile-information p {
    margin: .5rem 0 0 0;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;

    transform: rotate(30deg);
    transform-origin: top right;
}

#current-job {
    display: inline-block;
    position: relative;
    color: var(--color-company);

    font-weight: bolder;
    text-decoration: none;

    transform: rotate(0deg);
    transform-origin: top right;
    
    cursor: pointer;
}

#current-job::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-company);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
#current-job:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.profile-links {
    margin: .75rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    transform: rotate(30deg);
    transform-origin: top right;
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
    .profile {
        margin: 1rem;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 0;
        width: calc(100% - 2rem);
        height: calc(30% - 2rem);
    }

    .profile-information {
        width: 100%;
        border-top: 1px solid var(--color-3);
    }
    
    .profile-information h1 {
        margin-top: .5rem;
        transform: rotate(0deg);
    }
    
    .profile-information p {    
        transform: rotate(0deg);
    }
    
    .profile-links {    
        transform: rotate(0deg);
    }

    .profile-tabs {
        height: 1rem;
        display: flex;
        flex-direction: row;
        gap: .25rem;
        margin-top: 0rem;
    }
}

/* Content */
.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    width: 50%;
    height: 100%;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 3;
        width: 100%;
        height: 70%;
        gap: 0;
    }
}

/* Media Link */
.medialink {
    width: 1.5rem;
    height: 1.5rem;

    transition: transform ease-in-out .1s;
    
    cursor: pointer;
}

.medialink:hover {
    transform: scale(1.15);
}

.medialink svg {
    fill: var(--color-2);
}

/* Tab */
.tablink, .tablink-selected {
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;

    transform: rotate(30deg);
    transform-origin: top right;

    cursor: pointer;
}

.tablink h1 {
    margin: 0;
    font-family: var(--font-1);
    color: var(--color-3);
    text-align: end;
}

.tablink-selected h1 {
    margin: 0;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;
}

.tab-selected {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    -webkit-transform: translateY(0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transform: translateY(0);
    -moz-transition: -moz-transform 500ms ease;
    transform: translateY(0);
    transition: transform 500ms ease;
    will-change: transform;
}

.tab-hidden {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    -webkit-transform: translateY(150%);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transform: translateY(150%);
    -moz-transition: -moz-transform 500ms ease;
    transform: translateY(150%);
    transition: transform 500ms ease;
    will-change: transform;
}

#link {
    display: inline-block;
    position: relative;
    color: var(--color-1);

    font-size: medium;
    font-family: var(--font-1);
    font-weight: bolder;
    text-decoration: none;

    transform: rotate(30deg);
    transform-origin: bottom left;
    
    cursor: pointer;
}

#link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
#link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#link p {
    font-family: var(--font-1);
    font-size: xx-small;
    margin: 0;
    display: inline;
}

#link svg {
    margin: 0 0 0 .3rem;
    width: .75rem;
    fill: var(--color-1);
}

@media screen and (max-width: 1024px) {
    .tablink, .tablink-selected {    
        transform: rotate(0deg);
    }
    
    .tablink h1 {
        font-size: large;
    }
    
    .tablink-selected h1 {
        font-size: large;
    }

    .tab-selected {
        position: absolute;
        width: calc(100% - 1rem);
        height: calc(70vh - 1rem);
        display: flex;
        align-items: center;
    }
    
    .tab-hidden {
        position: absolute;
        width: calc(100% - 1rem);
        height: calc(70vh - 1rem);
        display: flex;
        align-items: center;
    }

    #link {
        transform: rotate(0deg);
    }
}

/* About */
.about {
    margin-top: 10%;
    width: 300px;
    height: 400px;

    display: flex;
    flex-direction: column;

    transform: skewY(30deg);
    transform-origin: top left;

    background-color: var(--color-1);
}

.about-header {
    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-header h1 {
    margin: 0;
    font-family: var(--font-2);
    font-size: larger;
    color: var(--color-2);
    text-align: center;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center center;
}

.about-header p {
    margin: 0;
    font-family: var(--font-1);
    font-size: small;
    color: var(--color-2);
    text-align: center;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center center;
}

.about-content {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: 0;

    background-color: var(--color-3);
}

.about-content svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center left;
}

@media screen and (max-width: 1024px) {
    .about {
        margin-top: 0;
        width: 100%;
        max-width: 400px;
        height: 100%;
    
        display: flex;
        flex-direction: column;
    
        transform: skewY(0deg);
        transform-origin: top left;
    
        background-color: var(--color-1);
    }
    
    .about-header {
        margin: .5rem;
        padding: 1.5rem;
        width: calc(100% - 4rem);
        height: calc(65% - 4rem);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .about-header h1 {    
        transform: skewY(0deg) rotate(0deg);
    }
    
    .about-header p {
        transform: skewY(0deg) rotate(0deg);
    }
    
    .about-content {
        padding: .5rem;
        width: calc(100% - 1rem);
        height: 35%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: .5rem;
        row-gap: 0;
    
        background-color: var(--color-3);
    }
    
    .about-content svg {
        width: 2rem;
        height: 2rem;
        transform: skewY(0deg) rotate(0deg);
    }
}

/* Work */
.work {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
}

#work-link {
    text-decoration: none;
}

.work-card {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 125px;

    transform: skewY(30deg);
    transform-origin: top left;

    background-color: var(--color-1);

    transition: transform ease-in-out .1s;
}

.work-card:hover {
    transform-origin: top left;
    transform: scale(1.035) skewY(30deg);
    cursor: pointer;
}

.work-card-header {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-card-header img {
    height: 50%;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: bottom left;
}

.work-card-header-info svg {
    margin-left: .25rem;
    width: .6rem;
    fill: var(--color-2);
}

.work-card-header-info p {
    margin: 0 .25rem 0 0;
    font-size: small;
    font-family: var(--font-1);
    color: var(--color-2);
    text-align: end;
    text-decoration: none;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: top right;
}

.work-card-content {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background-color: var(--color-3);
}

.work-card-content svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center left;
}

@media screen and (max-width: 1024px) {
    .work {
        margin-top: 0;
        max-width: 400px;
        justify-content: flex-start;
        gap: .5rem;

        overflow-y: auto;
    
        width: 100%;
        height: 100%;
    }

    #work-link {
        width: 100%;
    }

    .work-card {
        width: 100%;
        height: 125px;
    
        transform: skewY(0deg);
    }

    .work-card:hover {
        transform: scale(1) skewY(0deg);
    }

    .work-card-header {
        margin: .5rem;
        width: calc(100% - 1rem);
        height: calc(50% - 1rem);
    }
    
    .work-card-header img {
        height: 65%;
        transform: skewY(0deg) rotate(0deg);
    }
    
    .work-card-header-info p {
        transform: skewY(0deg) rotate(0deg);
    }
    
    .work-card-content svg {
        transform: skewY(0deg) rotate(0deg);
    }
}


/* Projects */
.projects {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 250px;

    transform: skewY(30deg);
    transform-origin: top left;

    background-color: var(--color-1);

    transition: transform ease-in-out .1s;
}

.project-card:hover {
    transform: scale(1.035) skewY(30deg);
    transform-origin: top left;
    cursor: pointer;
}

.project-card-header {
    width: 100%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.project-card-header img {
    width: 200px;

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center center;
}

.project-card-header h3 {
    margin: 0;
    font-size: medium;
    font-family: var(--font-1);
    color: var(--color-4);

    transform: skewY(-30deg) rotate(30deg);
    transform-origin: top right;
}

.project-card-content {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;


    background-color: var(--color-3);
}

.project-card-content svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: skewY(-30deg) rotate(30deg);
    transform-origin: center left;
}

@media screen and (max-width: 1024px) {
    .projects {
        margin: 0;
        max-width: 400px;
        justify-content: flex-start;
        gap: .5rem;
    }
    
    .project-card {
        width: 100%;
        height: 250px;
    
        transform: skewY(0deg);
    }
    
    .project-card:hover {
        transform: scale(1) skewY(0deg);
    }
    
    .project-card-header {
        margin: .5rem;
        width: calc(100% - 1rem);
        height: calc(75% - 1rem);
    }
    
    .project-card-header img {
        height: 75%;
        width: auto;
    
        transform: skewY(0deg) rotate(0deg);
    }
    
    .project-card-content {
        margin: 0;
        padding: .5rem;
        width: calc(100% - 1rem);
        height: calc(25% - 1rem);
    }
    
    .project-card-content svg {
        transform: skewY(0deg) rotate(0deg);
    }
}